.PhotoTiles {
  height: 550px;
  width: 100%;

  .carousel-inner {
    position: relative;
    height: 100%;
    max-width: 1950px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .carousel.slide {
    height: 100%;
  }

  .carousel-caption {
    display: none !important;
  }

  .carousel-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carousel-item {
    height: 100%;
    background: black;
  }

  .carousel-control-next {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.7;
    right: 0;
    width: 14%;
  }

  .carousel-control-prev {
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.7;
    left: 0;
    width: 14%;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-control-next-icon {
    position: absolute;
    background-image: url('./assets/right.svg');
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: -35%;
  }

  .carousel-control-prev-icon {
    position: absolute;
    background-image: url('./assets/left.svg');
    cursor: pointer;
    width: 40px;
    height: 40px;
    right: -35%;
  }
}
.video-item {
  margin: 0 auto;
}
