.timekeeper {
  width: 100%;

  & button {
    &:focus {
      outline: none;
    }
  }

  &-modal {
    position: absolute;
  }

  &-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 11px;
    border: 1px solid #e9e9e9;
    font-family: 'Averta';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.16px;
    text-align: left;
    color: #000000;
    height: 45px;
    margin-bottom: 10px;
  }

  &-modal {
    z-index: 10;
  }
}
