.modal {
  > div {
    height: 500px;
  }

  &-header {
    border: none;
    padding: 0;

    > button {
      position: absolute;
      right: 15px;
      top: 10px;
      transform: scale(1.5);
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.login-logo-wrapper {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #4b4b4bb3;
  text-align: center;
  padding-bottom: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.sing-in-input::placeholder {
  opacity: 0.7;
  color: red;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
}

.login-another-pages {
  font-family: 'Inter';
  color: #078089 !important;
  font-weight: 400;

  &:visited {
    color: #078089 !important;
  }
}

.another-pages-text {
  opacity: 0.7;
}
