@import "../../../index.scss";

.create-place {
  background: $detail-background-color;
  height: 50%;
  &-header-section {
    background: $white-color;
  }
  .NavMenu-container {
    position: relative;
    left: 0;
  }
  .Menu-header-item {
    color: $text-color-normal;
  }
  .item {
    box-shadow: none;
  }

  .row-container {
    border-radius: 5px;
    padding: 30px 20px;
  }

  &-container {
    &-header {
      text-align: left;
      line-height: normal;
      letter-spacing: normal;
      color: $text-color-normal;
      margin-top: 40px;
      @include fonts(27px, $text-color-normal, bold, Inter);

      &-border {
        border-left: 2px solid $border-color-light;
        margin: 0 12px;
      }

      &-stepsection {
        @include fonts(17px, $text-color-normal, 300);
      }
    }

    &-subheader {
      margin-top: 15px;
      margin-bottom: 22px;
      @include fonts(15px, $text-color-normal, 300);
    }

    &-venuesection {
      padding: 0 10px;
      margin-bottom: 80px;
      border-radius: 10px;
      &-baseClass {
        background: #fff;
        padding: 0px 10px 20px 10px;

        &-heading {
          letter-spacing: normal;
          margin-bottom: 20px;
          @include fonts(30px, $text-color-normal, bold);
        }
      }
    }
  }
}

.btn-venue {
  width: 150px;
  background: $secondary-color;
  border: none;
  border-radius: 50px;
  line-height: 45px;
  font-weight: normal;
  @include fonts(16px, $white-color, normal, "Inter");
}

.ddlWrapper {
  span {
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .ignore-react-onclickoutside {
    border: solid 1px #e9e9e9;
    height: 40px;
    display: block;
    width: 100%;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    color: #a5a5a5;
    margin: 4px 0 8px 0;

    .item-input-text {
      font-weight: 150;
      color: #495042;
    }
  }
}

.addOnDdlWrapper {
  .inputfield {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: inherit;
  }
  .ignore-react-onclickoutside {
    border: solid 1px #e9e9e9;
    height: 40px;
    display: block;
    padding: 6px 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: normal;
    color: #a5a5a5;
    border-radius: inherit;
    width: 65%;
  }
}
