.DropdownProfile {
  position: relative;
  width: 80px;
  display: flex;
  &__user {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__arrow {
    width: 20px;
    height: 20px;
  }
  &__menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    width: 130px;
    height: 110px;
    left: 30px;
    top: 125px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 100;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  &__item {
    font-family: 'Averta';
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}
