.search-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .item-pagination {
    font-size: 23px;
    margin: 0 10px;
  }
  .active {
    width: 33px;
    border-radius: 50%;
    background: #007bff;
    text-align: center;
    &:hover {
      color: #4183c4;
    }
    a {
      color: white;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
  .disabled {
    a:hover {
      cursor: not-allowed;
    }
    &:hover {
      cursor: not-allowed;
    }
  }
}
