.filter-dates {
  margin-bottom: 10px;

  &-block {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    &-img {
      width: 20px;
      margin-right: 10px;
    }
    &-input {
      font-family: 'Averta';
      font-size: 18px;
      margin-top: 4px;
    }
  }
}
