.wrapper-sing_up {
  background-color: #f8f8f8;
  min-height: 100vh;
}

.wrapper-container {
  background-color: white;
  
}

.main {
  display: flex!important;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.form-block {
  width: 620px;
  min-height: 748px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin-top: 88px;
  margin-bottom: 84px;
  box-sizing: border-box;

  &__header {
    height: 66px;
    border-bottom: 1px solid #f3f3f3;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #000000;
      font-size: 27px;
      font-weight: 700;
      font-family: 'Inter', sans-serif;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
      
    .circle{
      width: 20px;
      height: 20px;
      height: 94px;
      cursor: pointer;
    }

    .name{
     margin-left: 14px;
     font-size: 22px;
     font-weight: 500;
       
      &-host {
        margin-right: 92px;
      }
    }
  }

  .form-input {
    width: 534px;
    height: 48px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    margin: auto;
    margin-top: 29px;
    padding: 18px;
    border-radius: 3px;
  }

  &__submit {
    width: 223px;
    height: 47px;
    background-color: #078089;
    margin: 43px auto 37px;
    border-radius: 25px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;

    &:focus {
      outline: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    text-align: center;
    opacity: 0.7;
    color: #757575;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 37px;
    font-family: 'Inter', sans-serif;

    span {
      color: #078089;
      font-family: "Inter - Semi Bold";
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.form-error {
  color: red;
  font-size: 17px;
  width: 534px;
  margin: auto;
  margin-top: 10px;
}

.form-input::placeholder{
  opacity: 0.7;
  color: #757575;
  font-size: 14px;
  font-weight: 300;
}
