@import '../../../../../index.scss';

.special-features {
  padding: 20px;
  background-color: $white-color;

  &-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;

    .body-2 {
      color: $secondary-color;
    }
  }

  .separate-line {
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color-light;
  }

  .col-sm-2 {
    padding: 0;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid $border-color-light;
    height: 110px;
    width: 100%;

    &:last-child {
      border-right: 0;
    }

    &-img {
      width: 40px;
      height: 40px;
    }
    &-text {
      padding-top: 10px;
      line-height: 15px;
    }
  }
}
