@import '../../../../index.scss';

.add-media {
  &-text {
    @include fonts(14px, $text-color-normal, 300, Inter);
    margin-bottom: 30px;
  }
  &-uploadedsection {
    position: relative;
    border: dashed 1px $text-color-normal;
    text-align: center;
    padding: 50px 30px;
    border-radius: 5px;
    @include fonts(15px, $text-color-normal, 300, Inter);
  }
  &-imgcontainer {
    border: 2px solid $border-color-light;
    border-radius: 5px;
    height: 146px;
    display: flex;
  }
  &-crossicon {
    background: $redback-color;
    padding: 9px 7px;
    width: 23px;
    height: 23px;
    border-radius: 100px;
    position: relative;
    top: -10px;
    left: -13px;
    line-height: 0.2;
    @include fonts(18px, $white-color);
  }
  &-borderpart {
    border-right: 1px solid $bordergray-color;
    padding-right: 50px !important;
  }
  &-borderpartleft {
    padding-left: 50px !important;
  }
  &-venuebtn{
    width: 110px;
  }
  &-selectoption {
    border: 1px solid $border-color-light;
    border-radius: 4px;
    width: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    float: left;
    margin-right: 50px;
    &-crossicon {
      background: $redback-color;
      padding: 9px 7px;
      width: 23px;
      height: 23px;
      border-radius: 100px;
      line-height: 0.2;
      position: absolute;
      margin-top: -27px;
      margin-left: 73px;
      @include fonts(18px, $white-color);
    }
  }
  &-borderbottom {
    margin: 45px 0;
    border-bottom: 1px solid $text-color-normal;
    opacity: 0.2;
  }
}

.create-place-container-venuesection-heading {
  padding: 20px 40px;
}

.btn-venue {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.video-item {
  position: relative;
}

.add-media-crossicon {
  position: absolute;
  right: 10px;
  left: initial !important;
}

.create-place .item {
  width: 100%;
}

.mt-0 {
  margin-top: 0px !important;
}

.add-media-selectoption {
  text-transform: capitalize;
  margin-bottom: 30px;
}

.uploading:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.uploading {
    position: ABSOLUTE;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7)
}

.uploading img {
  width: 100px;
}