.ContactPage {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    max-width: 968px;
    margin: 0 auto;
  }
  &-headline {
    font-family: 'AvertaBold';
    font-size: 48px;
    line-height: 1.33;
    letter-spacing: 0.48px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }
  &-tagline {
    max-width: 894px;
    font-family: 'Averta';
    font-size: 28px;
    line-height: 1.67;
    letter-spacing: 0.3px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }
  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }
    &-input {
      width: 470px;
      height: 47px;
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.1);
      padding-left: 16px;
      opacity: 0.8;
      font-family: 'Averta';
      font-size: 16px;
      letter-spacing: 0.16px;
      color: rgba(0, 0, 0, 0.8);
      outline: none;
    }
    &-textarea {
      width: 100%;
      border-radius: 2px;
      border: solid 1px rgba(0, 0, 0, 0.1);
      resize: none;
      height: 217px;
      margin-bottom: 40px;
      padding: 16px;
      opacity: 0.8;
      font-family: 'Averta';
      font-size: 16px;
      letter-spacing: 0.16px;
      color: rgba(0, 0, 0, 0.8);
      outline: none;
    }
    &-btn {
      width: 215px;
      height: 50px;
      border-radius: 4px;
      border: none;
      outline: none;
      background-color: #77d1fd;
      font-family: 'Averta';
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.18px;
      text-align: center;
      color: #ffffff;
      &:disabled {
        background-color: gray;
      }
    }
  }
}

.btnChangePsd {
  color: #000 !important;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #000000;
  margin: 0 1em;
  padding: 0.25em 1em;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  display: inline-block;
  float: right;
}

.btnChangePsd:hover {
  color: #fff !important;
  background-color: #4682B4;
  -webkit-text-decoration: none;
  text-decoration: none;
}
.btnGroup {
  margin-top: 30px;
  clear: both;
}