.HomePage__link {
  font-family: 'Averta';
  font-size: 25px;
  margin-bottom: 20px;
}

.bg-img {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  height: 950px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


.top_header {
    // background-color: rgba(0,0,0,0.8);
    background-color: #10a5ad;
    // box-shadow: 0 0 6px rgb(0, 0, 0);
    .Menu-header-links{ 
      a:hover{color:#8C8787;}
    }
}  




