@import '../../../index.scss';

.header {
  padding: 0;
}

.genera-intro {
  padding-top: 25px;
}

.spinner {
  display: flex;
  justify-content: center;
  &-icon {
    width: '3rem';
    height: '3rem';
  }
}

.more-reviews {
  color: $common-color;
  width: 150px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  margin-bottom: 40px;
  cursor: pointer;

  &:hover {
    color: $common-color;
    text-decoration: none;
  }
}

.redirect-button {
  font-family: 'Averta';
  color: $common-color;
  width: 250px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  margin-bottom: 40px;
  cursor: pointer;
}

.reviews-container {
  margin-bottom: 40px;
}

.DetailsPage {
  background: $detail-background-color;
  height: 50%;
  .header-section {
    background: $white-color;
  }
  .NavMenu-container {
    position: relative;
    left: 0;
  }
  .Menu-header-item {
    color: #000;
  }
  .item {
    box-shadow: none;
  }

  .row-container {
    // background-color: $card-background-color;
    border-radius: 5px;
    padding: 30px 20px;
  }
}
