.Menu-header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 185px;
}
.Menu-header-item {
  // font-family: 'Inter';
  // font-size: 14px;
  // color: #000;
  // text-decoration: none;
  font-weight: 400;
  margin-right: 12px;
  font-size: 16px;
  letter-spacing: 0px;
  font-family: 'Hero New';
  color: #ffffff!important;

  &:hover {
    text-decoration: none;
    color: grey;
    
  }
}
.signin-hover{
  &:hover {
    background: #fff;
    color: #10a5ad!important;
  }
  color: #ffffff!important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  width: 110px;
  font-family: 'Hero New';
  height: 45px;
  border-radius: 25px;
  background-color: rgba(0,252,255,0);
  border: 1.5px solid #ffffff;
  font-weight: 400;
}
