.filter {
  margin-bottom: 20px;

  &-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
  }

  .event {
    width: 240px;
    .input {
      width: 240px;
    }
  }

  .attendees {
    width: 240px;
    .input {
      width: 240px;
    }
  }

  .filter-price {
    width: 244px;
    .input {
      width: 244px;
    }
  }

  .filter-location {
    width: 320px;
  }

  .filter-dates {
    .input {
      width: 290px;
    }
  }
}
