@import '../../../../../index.scss';

.general-intro {
  width: 100%;
  padding: 20px;
  background-color: $white-color;
  border-bottom: 1px solid $border-color-light;

  h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.48px;
  }
  &-panel {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &-right {
      display: flex;
    }
    &-left {
      width: 100%;
      display: flex;
      align-items: baseline;
    }
  }
}
