@import '../../../index.scss';

.header {
  padding: 0;
}
.booking {
  border-bottom: 2px solid #efefef;
}
.header-content {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
