@import '../../index.scss';

.dateTime {
  position: absolute;
  width: 440px;
  padding: 20px;
  height: 250px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  z-index: 100;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);

  &-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    font-family: 'Averta';
    font-size: 18px;
    font-weight: lighter;

    &-search {
      border: none;
      background-color: $common-color;
      color: #000;
      text-transform: capitalize;
      width: 200px;
      height: 50px;
      border-radius: 4px;
      &:disabled {
        background: gray;
        cursor: no-drop;
      }
    }
  }
}
