.attendees {
  cursor: pointer;
  font-family: 'Averta';
  font-weight: lighter;
  font-size: 18px;
  position: relative;
  margin-bottom: 10px;

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    right: 20px;
    top: 46%;
    height: 10px;
    border-left: 1px solid #757373;
    border-bottom: 1px solid #757373;
    transform: translate(0, -50%) rotate(-45deg);
  }

  &-text {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  &-menu {
    z-index: 10;
    position: absolute;
    width: 240px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    &-li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      height: 50px;
      border-bottom: 1px solid #b3b3b3;
      border-right: 1px solid #b3b3b3;
      border-left: 1px solid #b3b3b3;
      background: #fff;
      font-family: 'Averta';
      font-weight: lighter;
      font-size: 18px;
      &:hover {
        cursor: pointer;
        background: #efefef;
      }
    }
  }
}
