.filter-location {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b3b3b3;
  height: 52px;
  width: 305px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 10px;

  &-input {
    outline: none;
    border: none;
    font-family: 'Averta';
    font-weight: lighter;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px 0 10px 40px;
    width: 100%;
    height: 91%;
    margin-top: 4px;
    &::placeholder {
      color: #000;
    }
  }
  &-icon {
    width: 23px;
    position: absolute;
    left: 10px;
  }

  .pac-container .pac-logo {
    width: 100%;
  }
}
