.slick-next {
  &:before {
    content: '';
  }
}
.slick-prev {
  &::before {
    content: '';
  }
}
// .next-arrow {
//   background: url('./assets/right-arrow.png') 100%/100% no-repeat;
//   top: 34%;
//   right: -35px;
//   width: 6px;
//   height: 12px;
//   z-index: 10;
//   &:hover {
//     background: url('./assets/right-arrow.png') 100%/100% no-repeat;
//   }
// }

// .prev-arrow {
//   background: url('./assets/left-arrow.png') 100%/100% no-repeat;
//   top: 34%;
//   width: 6px;
//   height: 12px;
//   left: -35px;
//   z-index: 10;
//   &:hover {
//     background: url('./assets/left-arrow.png') 100%/100% no-repeat;
//   }
// }

.slick-disabled {
  background: transparent;
  cursor: default;
  &:hover {
    background: transparent;
  }
}
.place-link {
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}
