@import '../../stylesheets/mixins';

// .footer {
//   // margin-top: 40px;
//   padding: 40px 0;
//   border-top: solid 1px rgba(0,0,0,.2);

//   &__top {
//     display: flex;
//     justify-content: space-between;
//   }
//   &__logo {
//     margin-right: 20px;
//   }
//   &__top-content {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     max-width: 830px;
//   }
//   &__menu {
//     display: flex;
//     flex-direction: column;
//   }

//   &__subscribe {
//     position: relative;
//     &:after {
//       content: 'Email is invalid';
//       position: absolute;
//       bottom: -20px;
//       left: 0;
//       opacity: 0;
//       @include font($color: red, $fz: 14px);
//     }
//   }
//   &__subscribe.invalid:after {
//     opacity: 1;
//   }
//   &__link {
//     margin: 15px 10px 0 0;
//     @include font();
//   }
//   &__subscribe-form {
//     display: flex;
//     margin-top: 15px;
//     overflow: hidden;
//     border-radius: 5px;
//     border: solid 1px rgba(0,0,0,.2);
//   }
//   &__subscribe-title {
//     @include font($fz: 16px);
//   }
//   &__subscribe-input {
//     flex-grow: 1;
//     padding: 15px;
//     border: none;
//     opacity: 0.8;
//     @include font($fz: 16px);
//     &:focus {
//       outline: none;
//     }
//   }
//   &__subscribe-button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding: 10px;
//     min-width: 165px;
//     border: none;
//     border-left: solid 1px rgba(0,0,0,.2);
//     transition: background-color .5s ease;
//     background-color: #fff;
//     @include font($color: #77d1fe, $fw: 700);
//     &:hover {
//       background-color: #efefef;
//     }
//     &:focus {
//       outline: none;
//     }
//   }
//   &__bottom {
//     margin-top: 80px;
//   }
//   &__bottom-copyright {
//     @include font($fz: 16px);
//     text-align: center;
//   }
//   &__bottom-links {
//     display: flex;
//     justify-content: center;
//     margin-top: 30px;
//   }
//   &__social-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: 0 10px;
//     width: 35px;
//     height: 35px;
//     border: 1px solid #000;
//     border-radius: 50%;
//   }
//   &__icon {
//     width: 20px;
//     height: 20px;

//   }
// }

.prefooter {
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;

  &__wrapper {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    margin-left: 10px;
    color: #949494;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
  }

  &__block {
    margin-left: 40px;
    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }
  }

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__icon {
    display: block !important;
    margin-left: 40px;
    height: 13px;
    width: 13px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }
  }
}

.footer {
  padding: 40px 0;
  border-top: solid 1px rgba(0,0,0,.2);
  background-color: #F8F8F8;


  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #222222;
  }

  &__black {
    width: 18px;
    height: 4px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__text {
    color: #949494;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: lighter;
  }

  &__link {
    color: #949494;
    font-size: 14px;
    font-family: 'Inter';
    font-weight: lighter;
    cursor: pointer;
  }

  &__block {
    width: 150px;
    margin-left: 20px;
  }

  &__large-box {
    max-width: 400px;
  }

  &__connect {
    width: 313px;
    margin-left: 10px;
  }

  &__heading {
    color: #222222;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: bold;
    margin: 0;
    margin-bottom: 25px;
  }

  &__numbers {
    color: #068187;
    font-size: 24px;
    font-family: 'Inter';
    font-weight: 600;
    margin: 0;
    margin-bottom: 45px;
  }

  &__subheading {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
  }

  &__input {
    border: none;
    padding: 15px;
    font-family: 'Inter';
    font-weight: lighter;
    font-size: 14px;
    color: #757575;

    &--wrapper {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__button {
    border: none;
    border-left: 1px solid #707070;
    background-color: white;
    font-family: 'Inter';
    font-weight: lighter;
    font-size: 14px;
    color: #757575;
    padding: 15px;
    cursor: pointer;
  }
}