.signIn {
  background-color: #f8f8f8;
  min-height: 100vh;
  font-family: "Inter - Semi Bold";
}

.form-wrapper {
  width: 620px;
  min-height: 524px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  margin: 150px auto 194px;
}

.signIn__form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  padding: 35px 0px 30px;
  font-weight: 700;
  font-size: 16px;
}

.signIn-field {
  // width: 534px;
  width: 90%;
  // height: 57px;
  margin: 10px auto 10px!important;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #727272;
}

.login-another-pages {
  color: #078089  !important;

  &:visited {
    color: #078089  !important;
  }
}


.login-signIn {
  font-family: 'Inter';
  color: #757575;
  font-size: 16px;
  font-weight: 300;
}

.align-to-center {
  justify-content: center;
}
