.signIn-btn {
  font-family: 'Inter';
  font-size: 14px;
  color: #000;
  padding: 10px 0px;
  font-weight: 500;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

.drop-down {
  margin-left: 10px;
  cursor: pointer;
  height: 6px;
  width: 6px;
}
