.NavMenu-container {
  display: flex;
  align-items: center;
  position: relative;

  &-link {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
  }
  font-weight: bold;
}
.navBar-div {
  justify-content: space-between !important;
}
.NavMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 93px;
  // box-shadow: 0 5px 0 #f8f8f8;
  // border-bottom: 1px solid rgb(238, 238, 238);
  // margin-bottom: 20px;
  &-container {
    position: absolute;
    left: 60px;
  }
}

