.testimonials {
  padding: 100px 0;
  background-image: url('../../../../assets/bg-world.png');

  &__list {
    display: grid;
    column-gap: 50px;
    grid-template-columns: repeat(3, 386px);
    justify-content: center;
  }

  &__card {
    width: 386px;
    height: 428px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__image {
    height: 114px;
    width: 114px;
  }

  &__quotes {
    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__text {
    margin: 0;
    margin-bottom: 20px;
    color: #484848;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  &__stroke {
    background-color: black;
    width: 18px;
    height: 4px;
    margin-bottom: 20px;
  }

  &__name {
    color: #222222;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 11px;
  }

  &__position {
    color: #484848;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }
}