@import 'src/stylesheets/mixins';
@import 'src/stylesheets/common';

.booking-page {
  display: flex;
  align-items: flex-start;
  &__content {
    flex-grow: 1;
    margin-right: 20px;
  }
  &__sidebar {
    padding: 30px 30px 50px;
    max-width: 470px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 11.7px 1.3px rgba(0, 5, 7, 0.14);
    background-color: #fff;
  }
  &__sidebar-section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    &_view {
      display: flex;
      padding-top: 0;
    }
  }
  &__title {
    @include font($fz:36px, $fw:bold, $space: 0.36px);
  }
  &__subtitle {
    @include font($fz:30px, $fw:bold, $space: 0.3px);
  }
  &__section-content {
    margin-right: 15px;
  }
  &__parameter {
    margin-top: 30px;
  }
  &__parameter-header {
    @include font($fz:24px, $fw:bold, $space: 0.24px);
  }
  &__input {
    margin-top: 20px;
    max-width: 280px;
    background-color: #fff;
    &_textarea {
      max-width: 700px;

    }
  }
  &__input-field {
    padding: 5px 10px;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0 0 11.7px 1.3px rgba(0, 5, 7, 0.14);
    border: none;
    outline: none;
    @include font();
    &_textarea {
      height: 250px;
      resize: none;
    }
  }
  &__time {
    display: flex;
    position: relative;
    z-index: 2;
    .timekeeper {
      width: 50%;
      max-width: 200px;
    }
  }
  &__reviews {
    display: flex;
    justify-content: space-between;
  }
  &__view {
    max-width: 170px;
    width: 100%;
    height: 120px;
  }
  &__counter {
    @include font($fz: 16px);
  }
  &__stars {
    margin-right: 20px;
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__location {
    display: flex;
  }
  &__location-img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  &__place {
    @include font($fz: 20px, $color: #ccc);
  }
  &__host {
    display: flex;
    margin-top: 15px;
  }
  &__host-content {
    flex-grow: 1;
    margin-right: 15px;
  }
  &__host-name {
    @include font($fz: 20px);
  }
  &__host-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__params {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
    &_start {
      justify-content: flex-start;
    }
  }
  &__param-text {
    @include font($fz: 20px);
    &_bold {
      font-weight: bold;
    }
  }
  &__param-img,
  &__param-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  &__total {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-weight: 600;
  }
  &__send-request {
    margin-top: 30px;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  .DateRangePicker {
    position: relative !important;
    z-index: 3 !important;
  }
}
