@font-face {
  font-family: 'Averta';
  src: url('./assets/font/Averta.ttf'), url('./assets/font/Averta.otf');
}

@font-face {
  font-family: 'AvertaBold';
  src: url('./assets/font/AvertaBold.otf');
}

@font-face {
  font-family: 'Hero New Hairline';
  src: url('./assets/font/HeroNew-Hairline.eot');
  src: url('./assets/font/HeroNew-Hairline.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Hairline.woff2') format('woff2'),
      url('./assets/font/HeroNew-Hairline.woff') format('woff'),
      url('./assets/font/HeroNew-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New Super';
  src: url('./assets/font/HeroNew-Super.eot');
  src: url('./assets/font/HeroNew-Super.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Super.woff2') format('woff2'),
      url('./assets/font/HeroNew-Super.woff') format('woff'),
      url('./assets/font/HeroNew-Super.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-Bold.eot');
  src: url('./assets/font/HeroNew-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Bold.woff2') format('woff2'),
      url('./assets/font/HeroNew-Bold.woff') format('woff'),
      url('./assets/font/HeroNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-Thin.eot');
  src: url('./assets/font/HeroNew-Thin.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Thin.woff2') format('woff2'),
      url('./assets/font/HeroNew-Thin.woff') format('woff'),
      url('./assets/font/HeroNew-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-UltraLight.eot');
  src: url('./assets/font/HeroNew-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-UltraLight.woff2') format('woff2'),
      url('./assets/font/HeroNew-UltraLight.woff') format('woff'),
      url('./assets/font/HeroNew-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New Super';
  src: url('./assets/font/HeroNew-SuperItalic.eot');
  src: url('./assets/font/HeroNew-SuperItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-SuperItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-SuperItalic.woff') format('woff'),
      url('./assets/font/HeroNew-SuperItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-Medium.eot');
  src: url('./assets/font/HeroNew-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Medium.woff2') format('woff2'),
      url('./assets/font/HeroNew-Medium.woff') format('woff'),
      url('./assets/font/HeroNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-MediumItalic.eot');
  src: url('./assets/font/HeroNew-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-MediumItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-MediumItalic.woff') format('woff'),
      url('./assets/font/HeroNew-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-SemiBoldItalic.eot');
  src: url('./assets/font/HeroNew-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-SemiBoldItalic.woff') format('woff'),
      url('./assets/font/HeroNew-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-ExtraBoldItalic.eot');
  src: url('./assets/font/HeroNew-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-ExtraBoldItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-ExtraBoldItalic.woff') format('woff'),
      url('./assets/font/HeroNew-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-ExtraBold.eot');
  src: url('./assets/font/HeroNew-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-ExtraBold.woff2') format('woff2'),
      url('./assets/font/HeroNew-ExtraBold.woff') format('woff'),
      url('./assets/font/HeroNew-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-BoldItalic.eot');
  src: url('./assets/font/HeroNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-BoldItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-BoldItalic.woff') format('woff'),
      url('./assets/font/HeroNew-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New Hairline';
  src: url('./assets/font/HeroNew-HairlineItalic.eot');
  src: url('./assets/font/HeroNew-HairlineItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-HairlineItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-HairlineItalic.woff') format('woff'),
      url('./assets/font/HeroNew-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-Regular.eot');
  src: url('./assets/font/HeroNew-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Regular.woff2') format('woff2'),
      url('./assets/font/HeroNew-Regular.woff') format('woff'),
      url('./assets/font/HeroNew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-UltraLightItalic.eot');
  src: url('./assets/font/HeroNew-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-UltraLightItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-UltraLightItalic.woff') format('woff'),
      url('./assets/font/HeroNew-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-SemiBold.eot');
  src: url('./assets/font/HeroNew-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-SemiBold.woff2') format('woff2'),
      url('./assets/font/HeroNew-SemiBold.woff') format('woff'),
      url('./assets/font/HeroNew-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-RegularItalic.eot');
  src: url('./assets/font/HeroNew-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-RegularItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-RegularItalic.woff') format('woff'),
      url('./assets/font/HeroNew-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-ThinItalic.eot');
  src: url('./assets/font/HeroNew-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-ThinItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-ThinItalic.woff') format('woff'),
      url('./assets/font/HeroNew-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-LightItalic.eot');
  src: url('./assets/font/HeroNew-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-LightItalic.woff2') format('woff2'),
      url('./assets/font/HeroNew-LightItalic.woff') format('woff'),
      url('./assets/font/HeroNew-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Hero New';
  src: url('./assets/font/HeroNew-Light.eot');
  src: url('./assets/font/HeroNew-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/HeroNew-Light.woff2') format('woff2'),
      url('./assets/font/HeroNew-Light.woff') format('woff'),
      url('./assets/font/HeroNew-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Orkney';
  src: url('./assets/font/Orkney-Medium.eot');
  src: url('./assets/font/Orkney-Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/Orkney-Medium.woff2') format('woff2'),
      url('./assets/font/Orkney-Medium.woff') format('woff'),
      url('./assets/font/Orkney-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orkney';
  src: url('./assets/font/Orkney-Regular.eot');
  src: url('./assets/font/Orkney-Regular.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/Orkney-Regular.woff2') format('woff2'),
      url('./assets/font/Orkney-Regular.woff') format('woff'),
      url('./assets/font/Orkney-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orkney';
  src: url('./assets/font/Orkney-Bold.eot');
  src: url('./assets/font/Orkney-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/Orkney-Bold.woff2') format('woff2'),
      url('./assets/font/Orkney-Bold.woff') format('woff'),
      url('./assets/font/Orkney-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orkney';
  src: url('./assets/font/Orkney-Light.eot');
  src: url('./assets/font/Orkney-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/Orkney-Light.woff2') format('woff2'),
      url('./assets/font/Orkney-Light.woff') format('woff'),
      url('./assets/font/Orkney-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('./assets/font/ArialMT.eot');
  src: url('./assets/font/ArialMT.eot?#iefix') format('embedded-opentype'),
      url('./assets/font/ArialMT.woff2') format('woff2'),
      url('./assets/font/ArialMT.woff') format('woff'),
      url('./assets/font/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




body {
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

// colors
$common-color: #04d2ff;
$secondary-color: #078089;
$border-color: #757373;
$bordergray-color: #ccc;
$border-color-light: #e9e9e9;
$card-background-color: #f2f2f2;
$white-color: #ffffff;
$redback-color: #bf0a0b;
$text-color-body: #646464;
$text-color-normal: #000000;
$detail-background-color: #F2F3F3;



@mixin fonts($size: 14px, $color: '', $weight: normal, $family: 'Averta') {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

// common font styles
.heading-1 {
  @include fonts(32px, $text-color-normal, 600, Inter);
}

.heading-2 {
  @include fonts(24px, $text-color-normal, 600, Inter);
}

.body-1 {
  @include fonts(15px, $text-color-body, normal, Inter);
}

.body-2 {
  @include fonts(13px, $text-color-body, normal, Inter);
}

.body-1-600 {
  @include fonts(15px, $text-color-normal, 600, Inter);
}

.caption-1 {
  @include fonts(12px, $text-color-normal, normal, Inter);
}

.caption-2 {
  @include fonts(11px, $text-color-normal, normal, Inter);
}

//77d1fd
/* FONTS */

/* @font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
    url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('HelveticaNeueCyr-Bold.woff') format('woff'),
    url('HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
    url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Normal';
  src: url('HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
    url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url('HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
    url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} */

/* FONTS END */

/* body p {
  font-family: 'HelveticaNeueCyr-Normal';
} */

h1 {
  font-family: 'Averta';
  font-weight: 700;
  color: #000;
  font-size: 36px;
}

.navBar {
  box-shadow: 0px 0px 20px rgba(0, 50, 147, 0.05);
}

.modal-open .modal {
  overflow-y: hidden !important;
}

.height-45 {
  height: 45px !important;
}

.cursorPointer {
  cursor: pointer;
}

.pageCenter {
  position: absolute;
  top: 45%;
  left: 50%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1520px) {
  .container {
    max-width: 1440px !important;
  }
}
