.range-slider {
  #{r}: &;
  &__title,
  &__value-input {
    font-family: 'Averta', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300;
    letter-spacing: 0.16px;
    color: #000;
  }
  &__input,
  &__values {
    margin-top: 10px;
  }
  &__values {
    display: flex;
    justify-content: space-between;
  }
  &__value {
    max-width: 80px;
    width: 100%;
    &_min {
      margin-right: 20px;
    }
  }
  &__value.error {
    position: relative;
    &:after {
      content: 'Invalid value';
      position: absolute;
      bottom: -30px;
      left: 3px;
      width: 90px;
      height: 30px;
      font-size: 14px;
      color: red;
    }
    .range-slider__value-input {
      border: 1px solid red !important;
    }
  }
  &__min-input {
    padding: 14px 15px 11px !important;
  }
}
