@import '../../../index.scss';

.startBooking {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 550px;
  background-color: $white-color;

  &-title {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: $secondary-color;
    height: 100px;
    padding: 10px 20px;

    &-price {
      @include fonts(34px, $white-color);
    }
    &-hour {
      @include fonts(25px, $white-color);
    }
  }

  &-content {
    padding: 20px;

    &-p10 {
      padding-top: 10px;
    }

    &-booking {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-btn {
        width: 70%;
        background: $secondary-color;
        border: none;
        border-radius: 50px;
        line-height: 45px;
        @include fonts(16px, $white-color, normal);
      }

      &-info {
        line-height: 50px;
        @include fonts(12px, $text-color-normal);
      }
    }

    &-review {
      display: flex;
      padding-top: 20px;
      border-top: 1px solid #d7d7d7;

      &-btn {
        width: 190px;
        padding: 9px 10px;
        background-color: $white-color;
        border: 1px solid #d7d7d7;
        border-radius: 50px;
        line-height: 25px;
        margin-right: 5px;
        @include fonts(16px, $border-color);
        &:last-child {
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }
  }

  // date end 
  .label-wrapper :last-child {
    margin-right: 26%;
  }
}

.DateInput {
  border: 1px solid $border-color;
  &:first-child {
    border-radius: 4px 0 0 4px;
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      right: 14px;
      top: 50%;
      height: 10px;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      transform: translate(0, -50%) rotate(-45deg);
    }
    & > input {
      border-radius: 4px 0 0 4px;
      font-family: 'Averta';
      font-size: 14px;
      font-weight: lighter;
      color: #000000;

      &::placeholder {
        color: #000;
      }
    }
  }
  &:last-child {
    & .DateInput_1 {
      border-left: none;
    }
    border-radius: 0 4px 4px 0;

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      right: 14px;
      top: 50%;
      height: 10px;
      border-left: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      transform: translate(0, -50%) rotate(-45deg);
    }

    & > input {
      font-family: 'Averta';
      font-size: 14px;
      font-weight: lighter;
      color: #000000;
      border-radius: 0 4px 4px 0;

      &::placeholder {
        color: #000;
      }
    }
  }
}

.DateInput_input_1 {
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.DateInput_input__focused {
  border-bottom: 0;
}

.DateRangePickerInput_arrow_1 {
  display: none;
}

.startBooking-content-time {
  & .timekeeper:first-child {
    & button {
      border-radius: 4px 0 0 4px;
    }
  }
  & .timekeeper:last-child {
    & button {
      border-radius: 0 4px 4px 0;
    }
  }
}

.DateRangePicker div .DateRangePickerInput .DateInput {
  width: 45% !important;
  margin-right: 30px;
  border: 1px solid $border-color-light;
  margin-bottom: 10px;
}

.DateRangePicker div .DateRangePickerInput .DateInput:last-child {
  margin-right: 0;
}
