@import '../../../../../../index.scss';

.greatcity-place-card {
  display: flex;
  flex-direction: row;
  border: 1px solid $border-color-light;
  padding: 5px;
  margin-top: 2%;
  border-radius: 5px;
  overflow: hidden;
  max-height: 120px;

  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 30%;
    &-img {
      width: 75%;
      border-radius: 50%;
      border: 1px solid $border-color-light;
    }
  }

  &-right {
    width: 70%;

    &-header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 1%;

      &-title {
        @include fonts(15px, $text-color-normal, 600, Inter);
      }
      &-more {
        @include fonts(10px, $text-color-body, 300, Inter);
      }
    }

    &-content {
      padding: 5px;
      @include fonts(13px, $text-color-normal, 300, Inter);
    }
  }
}
