@import '../../../../../index.scss';

.greatcity-place {
  background-color: $white-color;
  margin-top: 10%;

  .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 4%;

    .number {
      @include fonts(15px, $text-color-body, 500);
    }

    &-more {
      @include fonts(12px, $secondary-color, normal, Inter);
    }
  }

  .content {
    padding: 10px;
    margin-bottom: 30px;
  }
}
